.accordion {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include bp(tablet) {
      gap: 3rem;
    }
  }
  &-item {
    padding: 0 2rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid var(--c-border);
    &.active {
      .accordion {
        &-header {
          padding-bottom: 4rem;
          &__icon {
            .icon {
              transform: rotate(45deg);
            }
          }
        }
        &-content {
          opacity: 1;
          margin-bottom: 4rem;
        }
      }
    }
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    transition: var(--transition);
    gap: 2rem;
    cursor: pointer;
    &__title {
      font-size: var(--txt-rem24);
      font-weight: 400;
      color: var(--c-black);
      transition: var(--transition);
    }
    &__icon {
      position: relative;
      flex-shrink: 0;
      .icon {
        font-size: 2rem;
        color: var(--c-black);
        transition: var(--transition);
      }
    }
  }
  &-content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
    width: 100%;
    opacity: 0;
  }
}
