.ck-content {
  font-size: var(--txt-rem20);
  font-weight: 400;
  color: var(--c-paragraph);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var(--c-primary);
  }

  h1 {
    font-size: var(--txt-rem54);
  }
  h2 {
    font-size: var(--txt-rem48);
  }
  h3 {
    font-size: var(--txt-rem34);
  }
  h4 {
    font-size: var(--txt-rem30);
  }
  h5 {
    font-size: var(--txt-rem28);
  }
  h6 {
    font-size: var(--txt-rem24);
  }

  strong,
  b {
    font-weight: 700;
  }
  ul,
  ol {
    li {
      list-style: disc;
    }
  }
  a {
    color: var(--c-secondary);
    transition: var(--transition);
    font-weight: 700;
    &:hover {
      color: var(--c-primary);
    }
  }
  img {
    max-width: 100%;
  }

  table {
    width: 100%;
    tbody {
      tr {
        @include bp(tablet) {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
          border-bottom: 0.1rem solid var(--c-gray-light);
        }
      }
      td {
        font-size: var(--txt-rem24);
        font-weight: 300;
        border-bottom: 0.1rem solid var(--c-gray-light);
        @include bp(tablet) {
          border-bottom: 0;
          padding: 0;
        }
        &:first-child {
          position: relative;
          text-transform: uppercase;
          font-weight: 500;
          color: var(--c-secondary);
          width: max-content;
          padding: 1rem 0;
          padding-right: 2rem;
          border-right: 2rem solid var(--c-white);
          border-collapse: collapse;
          white-space: nowrap;
          @include bp(tablet) {
            padding: 0 1rem 0 0;
          }
          &::after {
            content: ":";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
