.input {
  &-item {
    width: 100%;
    position: relative;
    transition: var(--transition);
    border-radius: 0;
    background-color: #f5f3ef;

    &--textarea {
      border-radius: 0;
      .input-item__placeholder {
        transform: none;
        top: 2rem;
      }
      &.input-item--valued {
        border-color: var(--c-primary);
      }
      &.input-item--focused {
        border-color: var(--c-primary);
      }
    }

    &--file {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.6rem 2.5rem;
      font-size: var(--txt-rem24);
      font-weight: 300;
      line-height: 1em;
      cursor: pointer;
      input[type="file"] {
        display: none;
      }
    }

    &__file {
      &-title {
        flex-shrink: 0;
      }
      &-item {
        font-size: var(--txt-rem24);
        font-weight: 500;
        color: var(--c-primary);
        &:not(:last-child) {
          &::after {
            content: ",";
          }
        }
      }
      &-field {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 1rem;
      }
    }
    & > select {
      position: relative;
      top: 0 !important;
      appearance: none;
    }
    & > input,
    & > select,
    & > textarea {
      width: 100%;
      padding: 1.6rem 2.5rem;
      border: none;
      outline: none;
      font-size: var(--txt-rem24);
      font-weight: 400;
      line-height: 1em;
      background: transparent;
      position: relative;
      color: var(--c-primary);
      top: 0.2rem;
      &:-webkit-autofill {
        -webkit-text-fill-color: var(--c-primary) !important;

        & ~ .input-item__placeholder {
          top: 0;
          font-size: 1.8rem;
        }
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 2.5rem;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      background-color: var(--c-secondary);
      transition: var(--transition);
      .icon {
        font-size: 1rem;
        color: var(--c-white);
        transition: var(--transition);
      }
    }
    &__placeholder {
      font-weight: 400;
      font-size: var(--txt-rem24);
      font-weight: 300;
      line-height: 1em;
      position: absolute;
      top: calc(50%);
      left: 2.5rem;
      transform: translateY(-50%);
      transition: var(--transition);
      pointer-events: none;
      padding: 0.5rem;

      strong {
        color: red;
      }
    }

    &--focused,
    &--valued {
      border-color: var(--c-primary);
      .input-item {
        &__placeholder {
          opacity: 0;
        }
        &__icon {
          background-color: var(--c-primary);
        }
      }
    }
  }
}
