.uikit__side
  .uikit__side-wrapper.js-uikit-scroll.js-uikit-side
    .uikit__side-field
      .uikit__side-title getting started
      ul.uikit__side-list
    .uikit__side-field
      .uikit__side-title base
      ul.uikit__side-list
    .uikit__side-field
      .uikit__side-title components
      ul.uikit__side-list
