#overview.uikit__item(data-ui-parent='getting started')
  .uikit-overview
    .uikit-overview__title
      | Hello,
      span Visitor 
    .uikit-overview__info This page is a Uikit page that we use to develop the frontend.
    .uikit-overview__txt
      | If you encounter a problem during development, please ignore it until the final
      | version is released.
#file-structure.uikit__item(data-ui-parent='getting started')
  ul.uikit-filetree
    li.uikit-filetree-item
      span src
      ul.uikit-filetree__sub
        li.uikit-filetree__sub-item
          span fonts
        li.uikit-filetree__sub-item
          span icons
        li.uikit-filetree__sub-item
          span images
        li.uikit-filetree__sub-item
          span js
        li.uikit-filetree__sub-item
          span scss
          ul.uikit-filetree__sub
            li.uikit-filetree__sub-item
              span common
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _footer.scss
                li.uikit-filetree__sub-item
                  span _header.scss
            li.uikit-filetree__sub-item
              span components
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _buttons.scss
            li.uikit-filetree__sub-item
              span config
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _config.scss
                li.uikit-filetree__sub-item
                  span _fonts.scss
                li.uikit-filetree__sub-item
                  span _mixins.scss
                li.uikit-filetree__sub-item
                  span _normalize.scss
                li.uikit-filetree__sub-item
                  span _variables.scss
                li.uikit-filetree__sub-item
                  span config-index.scss
            li.uikit-filetree__sub-item
              span global
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _global.scss
                li.uikit-filetree__sub-item
                  span _uikit.scss
                li.uikit-filetree__sub-item
                  span _utilies.scss
            li.uikit-filetree__sub-item
              span pages
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span _index.scss
                li.uikit-filetree__sub-item
                  span _about.scss
            li.uikit-filetree__sub-item
              span style.scss
        li.uikit-filetree__sub-item
          span views
          ul.uikit-filetree__sub
            li.uikit-filetree__sub-item
              span common
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span header
                li.uikit-filetree__sub-item
                  span footer
            li.uikit-filetree__sub-item
              span components
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span about
                  ul.uikit-filetree__sub
                    li.uikit-filetree__sub-item
                      span about-section
                li.uikit-filetree__sub-item
                  span index
                  ul.uikit-filetree__sub
                    li.uikit-filetree__sub-item
                      span index-hero
                    li.uikit-filetree__sub-item
                      span index-about
                    li.uikit-filetree__sub-item
                      span index-news
            li.uikit-filetree__sub-item
              span layout
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span layout
            li.uikit-filetree__sub-item
              span pages
              ul.uikit-filetree__sub
                li.uikit-filetree__sub-item
                  span index
                li.uikit-filetree__sub-item
                  span about
                li.uikit-filetree__sub-item
                  span uikit
    li.uikit-filetree-item
      span .babelrc.js
    li.uikit-filetree-item
      span .browserslistrc
    li.uikit-filetree-item
      span .gitignore
    li.uikit-filetree-item
      span package.json
    li.uikit-filetree-item
      span postcss.config.js
    li.uikit-filetree-item
      span README.md
    li.uikit-filetree-item
      span webpack.config.js
