.cookie-alert.js-cookie-alert.hidden
  .cookie-alert__content
    h4.cookie-alert__headline Cookie Usage Notice
    p.cookie-alert__text This website uses cookies to ensure you get the best experience on our website.
  .cookie-alert__actions
    button.btn.btn--primary.js-cookie-accept 
      .btn-txt Accept
    button.btn.btn--secondary.js-cookie-decline 
      .btn-txt Decline