header.header 
  .container 
    .header__wrapper 
      a(href="/").header__logo 
        img(src="images/qbR.svg", alt="")
      .header__nav 
        .header__nav-item 
          a(href="/") Index
        .header__nav-item
          a(href="/about.html") About