.front-ui
  .front-ui-button
    a.front-ui-button-item(href='/uikit.html' target='_blank') Uikit
    a.front-ui-button-item(href='/icons-sprite.html' target='_blank') Icon Sprite
    a.front-ui-button-item.js-uikit-pages-dropdown(href='#0') Pages
  .front-ui-dropdown.custom-scrollbar
    a.front-ui-dropdown-item(href="/index.html") Homepage
    a.front-ui-dropdown-item(href="/about.html") About
