.front-ui
  .front-ui-button
    a.front-ui-button-item(href='/uikit.html' target='_blank') Uikit
    a.front-ui-button-item.js-uikit-pages-dropdown(href='#0') Pages
  .front-ui-dropdown.custom-scrollbar
    a.front-ui-dropdown-item(href="/index.html") home
    a.front-ui-dropdown-item(href="/about.html") about
    a.front-ui-dropdown-item(href="/no-result.html") 404 example
