extends ../layouts/layout.pug
block append vars
  - var header = true 
  - var footer = true
  - var pageName = "About"

block append head
  title= pageName + " Webpack 5 Starter Kit"

block content
  main.starter-kit
    .container 
      .starter-kit__title 
        h1 This is a About Page
      .starter-kit__text.txt.txt--rem20.mt-5
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt est non officiis accusamus provident deleniti illo consequatur ad sed, veritatis minus, explicabo inventore consequuntur unde atque, nobis vitae deserunt blanditiis distinctio amet reiciendis doloribus. Sed alias quo voluptatum distinctio, at ipsam pariatur? Odit minus similique quis? Quasi non dignissimos ratione?