extends ../layouts/layout.pug
block append vars
  - var header = true 
  - var footer = true
  - var pageName = "Index"

block append head
  title= pageName + " Webpack 5 Starter Kit"

block content
  main
    // Your page content
    h1 Index Page
    //- img(src="../../images/sw-logo.png", alt="")
    include ../components/imageCard.pug
    span.icon.icon-font(data-icon-id="iconLinkedin")