extends ../layouts/layout.pug
block append vars
  - var header = true 
  - var footer = true

block append head
  title= 'Index'

block content
  main.starter-kit
    .container 
      .starter-kit__title 
        h1 This is a Index Page
      .starter-kit__social 
        .starter-kit__social-item
          a(href="#0") 
            span.icon.icon-font(data-icon-id="iconLinkedin")
        .starter-kit__social-item 
          a(href="#0") 
            span.icon.icon-font(data-icon-id="iconFacebook")
        .starter-kit__social-item 
          a(href="#0") 
            span.icon.icon-font(data-icon-id="iconInstagram")
        .starter-kit__social-item 
          a(href="#0") 
            span.icon.icon-font(data-icon-id="iconTwitter")
        .starter-kit__social-item 
          a(href="#0") 
            span.icon.icon-font(data-icon-id="iconYoutube")