html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

.section {
  padding: 10rem 0;
  @include bp(tablet) {
    padding: 7.5rem 0;
  }
  @include bp(tablet-small) {
    padding: 5rem 0;
  }
}
