:root {
  /* Font Families */
  --font-family: "Poppins", sans-serif;

  /* Transitions */
  --transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);

  /* Colors */
  --c-white: #ffffff;
  --c-black: #000000;
}

.c-white {
  color: var(--c-white);
}
.c-black {
  color: var(--c-black);
}
